AddType  text/turtle             .ttl
AddType  application/rdf+xml     .rdf

# Rewrite engine setup
RewriteEngine On
RewriteBase /data

# Rewrite rule to serve TURTLE content if requested
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^patterns$ patterns.ttl [R=303]
RewriteRule ^generators$ testAutoGenerators.ttl [R=303]
RewriteRule ^tests$ tests.ttl [R=303]

# Rewrite rule to serve RDF/XML content if requested
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^patterns$ patterns.rdf [R=303]
RewriteRule ^generators$ testAutoGenerators.rdf [R=303]
RewriteRule ^tests$ tests.rdf [R=303]

# Choose the default response
RewriteRule ^core$ core.ttl [R=303]
RewriteRule ^generators$ testAutoGenerators.ttl [R=303]
RewriteRule ^tests$ tests.ttl [R=303]
		
