/* Import the runo theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin rdfunit {
  /* Include all the styles from the runo theme */
  @include valo;

  /* Insert your theme rules here */
  #page {
    padding: 10px;
  }

  #header {
    padding: 0px;
  }

  .align-right {
    float: right;
  }

  .bold-text {
    font-weight: bold;
  }

  #EndointTestTab {

    h2 {
      padding: 5px 0;
    }

    .v-slot-header {
      .v-slot {
        margin-right: 15px;
      }
      border-bottom: 1px solid;
    }

    #test-configuration {

      .v-slot-examples {
        padding: 0 15px 18px 0;
        border-right: 1px solid;
      }

      .v-slot-manual {
        padding: 0 15px 18px 15px;
      }

      .v-slot-schema-selector {
        padding: 0 0 18px 15px;
      }

    }

  }

}