<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
	<display-name>ORE - Ontology Repair and Enrichment</display-name>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<!--
	<context-param>
		<param-name>threadCount</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>gracefulShutdown</param-name>
		<param-value>false</param-value>
	</context-param>
	-->
       <!--
        <listener>
			<listener-class>org.aksw.mole.ore.OREContextListener</listener-class>
		</listener>
        <listener>
                <listener-class>
                        de.tobiasdemuth.vaadinworker.executorserviceprovider.ExecutorServiceContextListener
                </listener-class>
        </listener>
        -->
	<servlet>
		<servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>UI</param-name>
			<param-value>org.aksw.databugger.DatabuggerUI</param-value>
		</init-param>
	    <!--
			<init-param>
			<param-name>widgetset</param-name>
			<param-value>org.aksw.mole.ore.CustomWidgetset</param-value>
		</init-param>
            -->
	</servlet>
	<servlet-mapping>
		<servlet-name>Vaadin Application Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>